services:
  backend:
    build:
      context: ./backend/HealthCare
    container_name: healthcare_backend
    restart: unless-stopped
    environment:
      ASPNETCORE_ENVIRONMENT: Development
      ASPNETCORE_URLS: http://0.0.0.0:8080

      # SQL Server running on your HOST machine
      ConnectionStrings__Default: "Server=host.docker.internal,1433;Database=${SQL_DB};User Id=${SQL_USER};Password=${SQL_PASSWORD};TrustServerCertificate=True;Encrypt=False;"

      # JWT (only if you enabled auth; otherwise you can remove these)
      Jwt__Key: ${JWT_KEY}
      Jwt__Issuer: ${JWT_ISSUER}
      Jwt__Audience: ${JWT_AUDIENCE}
    ports:
      - "8080:8080"

  frontend:
    build:
      context: ./frontend
      args:
        VITE_API_BASE_URL: ${VITE_API_BASE_URL}
    container_name: healthcare_frontend
    restart: unless-stopped
    depends_on:
      - backend
    ports:
      - "5173:80"
